html, body {
	background: none repeat scroll 0 0 #FFFFFF;
    font-family: open sans;
    margin: 0;
    padding: 0;
	width:100%;
	height:100%;
}
body p, tr, td, th, ol, ul, li {
	font-size:14px;
	color: #303030;
	font-family: open sans;}

/*header/top*/

.title-block {
    background: none repeat scroll 0 0 #40152A;
    color: #FFFFFF;
    height: 100px;
    margin: 0 auto;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    width: 100%;
	z-index:99999;
	}

.title-block h2 {
    font-weight: normal;
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
    width: 1000px;}
	
#fixed-block { 
	background:url("../images/girldance.jpg") no-repeat fixed 0 0 / cover  rgba(0, 0, 0, 0);
	height:70%;}
	
#header {
	width:1100px;
	margin:10px auto; 
	height:80px;}

#header-wrapper {
	margin:0;}
	
#logo {
    float: left;
    margin: auto;
    position: relative;
    top: 5px;
	}
#logo img {
	width:100px;
	
	}
 /* top menu */
	
#menu {
	}

#menu ul {
    left: 100px;
    margin: 0;
    position: relative;
    top: 16px;
    width: auto;
	}
	
#menu ul > li {
    float: left;
    list-style: none outside none;
    padding: 0 15px;}
	
#menu ul > li > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 54px;
    padding: 0;
    text-decoration: none;
    transition: all 0.2s linear 0s;}
	
#menu ul > li > a:hover,
#menu ul > li > a:active {
	color:#969696;}
	
/* login form */

#login-form--wrapper {
	float: right;
	position: relative;
	right: 0;
	top: 30px;
	width: 282px;}
	
#login-form--wrapper a{
	text-decoration:none;}
	
.login-form-modal {
	width:100%;}
	
.login-email h3,
.login-pass h3 {
    font-size: 17px;
    font-weight: 100;
}

.login-email input,
.login-pass input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 30px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 95%;
}
		/*
#login-form input {
	border: 1px solid #B3B3B3;
	border-radius: 5px;
	color: #737373;
	font-size: 85%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	width: 100px;}*/
	
#login-button,
#logout-button,
#show-login-form-button {
    background: none repeat scroll 0 0 #5B5B5B;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 1px 17px;
    text-align: center;}
	
#login-button {
	margin-top:10px;
	}

#logout-button  {
	float:right;}
	

	
/*main container */


	/*
#breadcrumbs {
	background:none repeat scroll 0 0 #F5F5F5;
	box-shadow: 0 4px 3px #CCCCCC;
	margin-bottom:20px;}

#breadcrumbs-wrapper {
	font-size: 14px;
	margin: 0 auto;
	padding: 15px 0;
	width: 1000px;}
	
#breadcrumbs a {
	color:#595959;
	cursor:pointer;}*/
	
#main-container {
	width:100%;

}
	
.content {
	position:relative;
	width:1000px;
	margin:0 auto;
	min-height:650px;}
	
/*footer*/

#footer {
	background:none repeat scroll 0 0 #40152A;
	}
#footer-wrapper {
	width:1000px;
	margin:0 auto;
	text-align:center;
	color:#FFFFFF;
	color: #FFFFFF;
	padding: 15px;
	}
